@model Chapter2.PartyInvites.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RSVP Form</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="card text-bg-light w-50">
            <div class="card-header text-center"><h4>Please, make a Reservation</h4></div>
            <div class="card-body">
                @using (Html.BeginForm()) {

                    @Html.ValidationSummary()
                    <div class="mb-3">
                        <label>Your Name</label>
                        @Html.TextBoxFor(n => n.FullName, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label>Your Email</label>
                        @Html.TextBoxFor(e => e.EmailAddress, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label>Your Phone</label>
                        @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label>Will you attend?</label>
                        @Html.DropDownListFor(c => c.WillAttend, new[] {
                            new SelectListItem() {
                                Text = "Yes, I'll be there",
                                Value = bool.TrueString
                            },
                            new SelectListItem() {
                                Text = "No way - Jose!",
                                Value = bool.FalseString
                            },
                            new SelectListItem() {
                                Text = "Not sure Yet! - Will notify later",
                                Value = null
                            }
                        }, "Please make a selection", new { @class = "form-control" })
                    </div>
                    <div class="text-center">
                        <input class="btn btn-primary small" type="submit" value="Submit RSVP" />
                        @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-secondary small" })
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
