<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar bg-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Sports Store</span>
        </div>
    </nav>
    <div class="card container mt-2">
        <div class="card-body">
            <div class="row">
                <div id="categories" class="col-sm-3">
                    @Html.Action("Menu", "Nav")
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
