
@model SportsStore.Domain.Merchandise


<div data-role="collapsible" data-collapsed="false" data-content-theme="c">
    <h2>
        @Model.Name
    </h2>
    <div class="ui-grid-a">

        <div class="ui-block-a">
            @Model.Description
        </div>

        <div class="ui-block-b float-end" style="float: right; width:100px">
            @Model.Price.ToString("c")
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" data-inline="true" data-mini="true" value="Add To Cart" />
            }
        </div>

    </div>
</div>

