@model IEnumerable<SportsStore.Domain.Entities.Product>

@{ ViewBag.Title = "Admin: All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card w-75 mx-auto">

    <div class="card-header">
        <h2 class="text-center">All Merchandise</h2>
    </div>

    <div class="card-body">

        <table class="table table-striped table-group-divider">
            <thead class="">
                <tr>
                    <th class="text-start">Id</th>
                    <th>Item Name</th>
                    <th class="text-start">Price</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            @foreach (var item in Model) {
                <tbody>
                    <tr>
                        <th class="text-right">@item.ProductID</th>
                        <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
                        <td class="text-right">@item.Price.ToString("c")</td>
                        <td class="text-center">
                            @using (Html.BeginForm("Delete", "Admin")) {
                                @Html.Hidden("Id", item.ProductID)
                                <input type="submit" class="btn btn-outline-danger" value="Delete" />
                            }
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>

    <div class="w-25 mx-auto mb-1">
        @Html.ActionLink("Add New Item", "Create", null, new { @class = "btn btn-outline-primary" })
    </div>

</div>




@section scripts {
    <script>
        //Works
        AdminArea.AdminAreaInit();
    </script>
}