@model Chapter26.Bundles.Models.Appointment

@{
    ViewBag.Title = "Make Appointment";
    
    AjaxOptions ajaxOpts = new AjaxOptions {
        OnSuccess = "processResponse"
    };
}

@section Scripts {
    <script type="text/javascript">
        function switchViews() {
            $(".hidden, .visible").toggleClass("hidden visible");
        }

        function processResponse(appointment) {
            $("#successClientName").text(appointment.ClientName);
            $("#successApptDate").text(appointment.AppointmentDate);
            switchViews()
        }

        $(document).ready(function () {
            $("#backButton").click(function (e) {
                switchViews();
            });
        });
        
    </script>
} 

@section BodyArea {
    <div id="formDiv" class="visible card">
        @using (Ajax.BeginForm(ajaxOpts)) {
            @Html.ValidationSummary(true)
            <div class="mb-3">
                <label for="ClientName">Your Name:</label>
                <p>@Html.ValidationMessageFor(m => m.ClientName) </p>
                @Html.TextBoxFor(m => m.ClientName, new { @class="form-control" })
            </div>
            <div class="mb-3">
                <label for="ClientName">Appointment Date:</label>
                <p>@Html.ValidationMessageFor(m => m.AppointmentDate) </p>
                @Html.TextBoxFor(m => m.AppointmentDate, new { @class="form-control" })
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.TermsAndConditionsAccepted)
                    I accept the terms and conditions
                </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Make Booking" />
         }

    </div>
    <div id="successDiv" class="hidden card">
        <h4 class="lead">Your Appointment is confirmed</h4>
        <p>Your name is: <b id="successClientName"></b></p>
        <p>Your appointment date is: <b id="successApptDate"></b></p>
        <button id="backButton" class="btn btn-primary">Back</button>
    </div>
}

