@model SportsStore.Domain.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}


<p>Please enter your shipping details, and we'll ship your merchs rigth away!</p>

@using (Html.BeginForm())
{
    <h4>Ship To: </h4>
    <div class="row g-3 mb-3">
        <div class="col-sm-2">@Html.LabelFor(x => x.FullLegalName)</div>
        <div class="col-sm-7">
            @Html.TextBoxFor(x => x.FullLegalName, new { @class = "form-control", @placeholder = "Enter your Full Name" })
        </div>
        <div class="col-sm-3"></div>
    </div>

    <h4>Address Information: </h4>
    foreach (var property in ViewData.ModelMetadata.Properties) {

        if(property.PropertyName != "FullLegalName"
            && property.PropertyName != "GiftWrap"
            && property.PropertyName != "Id") {
            <div class="row g-3 mb-3">
                <div class="col-sm-2">@(property.DisplayName ?? property.PropertyName)</div>
                <div class="col-sm-7">
                    @Html.TextBox(property.PropertyName, null,
                new { @class = "form-control"})
                </div> 
                <div class="col-sm-3"></div>
            </div>
        }
    }

    <h4>Options: </h4>    
    <div class="row g-3 mb-4">
        <div class="col-sm-4">
            <div class="form-check">
                @Html.EditorFor(x => x.GiftWrap, new { @class = "form-check-input", @id = "gridCheck" })
                <label class="form-check-label" for="gridCheck">
                    Giftwrap these items
                </label>
            </div>
        </div>
        <div class="col-sm-8">
            <input type="submit" class="btn btn-primary" value="Complete Order" />
        </div>
    </div>
}
