<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>

    @{
        string applicationName = "Sports Store";
        string myInfo = "Here at crudallday.com";
    }
    <nav class="navbar bg-dark navbar-expand-lg border-bottom border-bottom-dark bg-body-tertiary" data-bs-theme="dark">
        <div class="container">
            @Html.ActionLink("ADMIN AREA", "Index", "Admin", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink(applicationName, "List", "Product", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log Activities", "UserActivityLog", "Admin", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        @if (TempData["message"] != null) {
            <div class="alert alert-success mx-auto mt-2 w-25">@TempData["message"]</div>
        }
        @RenderBody()
        <hr />

        <nav class="navbar bg-body-tertiary">
            <div class="footer">
                <p>&copy; @DateTime.Now.Year -- @myInfo</p>
            </div>
        </nav>
    </div>

    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>

</html>
