<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ string applicationName = "Sports Store";}
    <title>@ViewBag.Title - @applicationName.Replace(" ", "")</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_NavHeader", applicationName)

    <div class="container">
        @RenderBody()
    </div>

    @{ string myInfo = "Jean Built this!";}
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
            <p>&copy; @DateTime.Now.Year - @myInfo</p>
        </div>
    </nav>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>