@model SportsStore.Domain.Merchandise

@{
    ViewBag.Title = $"Admin: Editing merchs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //HtmlHelper.ClientValidationEnabled = false;
    //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

<div class="card container w-50 my-5">
    <div class="card-header text-bg-dark">
        <h3 class="text-center">Edit @Model.Name</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"})) {
        <div class="card-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {

                switch (property.PropertyName)
                {
                    case "Id":
                    case "ImageData":
                    case "ImageMimeType":
                        //
                        break;
                    default:

                        <div class="row g-3 my-3">
                            <div class="col-sm-3">@(property.DisplayName ?? property.PropertyName)</div>
                            @if (property.PropertyName == "Description")
                            {
                                <div class="col-sm-9">
                                    @Html.TextArea(property.PropertyName, null,
          new { @class = "form-control", rows = 6 })
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-9">
                                @Html.TextBox(property.PropertyName, null,
      new { @class = "form-control" })
                        </div>
                    }
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9"> @Html.ValidationMessage(property.PropertyName)</div>
                        </div>

                        break;
                }
            }

            <style>
                .imgStyling {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    filter: alpha(opacity=0);
                    opacity: 0;
                    background-color: transparent;
                    color: transparent;
                }
            </style>

            <div class="form-group">
                <div style="position:relative;">
                    <label style="right:15px">Image: </label>
                    <a class="btn btn-outline-secondary mb-3" href="javascript:;">
                        Choose a file...
                        <input type="file" name="Image" value="40"
                               style="position:absolute;z-index:2;top:0;
                               left:0;filter:alpha(opacity=0);opacity:0;
                               background-color:transparent;color:transparent;"
                               onchange="$('#upload-file-info').html($(this).val());" />
                    </a>
                    <span class="form-label label-info" id="upload-file-info"></span>
                </div>
                @if (Model.ImageData == null)
                {
                    <div class="form-control">No Image</div>
                }
                else
                {
                    <img class="img-thumbnail" height="150"
                         src="@Url.Action("GetImage", "Merchandise", new {Model.Id})" />
                }

            </div>

        </div>

        <div class="card-footer text-center">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
            @Html.ActionLink("Cancel Changes", "Index", null, 
                new { 
                    @class = "btn btn-primary", 
                    @title = "Cancel changes and return to list of merchandises"
                })
        </div>
     }
</div>
