@model Chapter22.TemplatedHelperMethods.Models.Person

@{
    ViewBag.Title = "Display Personnel";
}

<h2>All Personnel</h2>

<div class="dataElem">
    @Html.Label("PersonId")
    @Html.Display("PersonId")
</div>

<div class="dataElem">
    @Html.Label("FirstName")
    @Html.Display("FirstName")
</div>
<div class="dataElem">
    @Html.Label("LastName")
    @Html.Display("LastName")
</div>

<div class="dataElem">
    @Html.LabelFor(r => r.Role)
    @Html.DisplayFor(r => r.Role)
</div>
<div class="dataElem">
    @Html.LabelFor(r => r.BirthDate)
    @Html.DisplayFor(r => r.BirthDate)
</div>