@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Session Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container w-50">
        <div class="card text-bg-secondary">
            <div class="card-header">Session Details</div>
            <table class="table table-striped table-light">
                <tr><th>Session ID</th><td>@Session.SessionID</td></tr>
                <tr><th>Is New?</th><td>@Session.IsNewSession</td></tr>
                <tr><th>State Data Count</th><td>@Session.Count</td></tr>
            </table>
        </div>

        @using (Html.BeginForm())
        {
            <div class="card text-bg-light my-3">
                <div class="form-check">
                    <label>Store State Data: @Html.CheckBox("store") </label>
                </div>
                <div class="form-check">
                    <label>Abandon Session: @Html.CheckBox("abandon")</label>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        }
    </div>
</body>
</html>
