@model IEnumerable<Tuple<string, string>>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Device Capabilities</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-3">
        <div class="card text-secondary">
            <h3 class="card-title text-center">Capabilities</h3>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr><th>Property</th><th>Value</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Browser</td>
                        <td>@Request.Browser.Browser</td>
                    </tr>
                    <tr>
                        <td>Is Mobile Device</td>
                        <td>@Request.Browser.IsMobileDevice</td>
                    </tr>
                    <tr>
                        <td>Mobile Device Manufacturer</td>
                        <td>@Request.Browser.MobileDeviceManufacturer</td>
                    </tr>
                    <tr>
                        <td>Mobile Device Model</td>
                        <td>@Request.Browser.MobileDeviceModel</td>
                    </tr>
                    <tr>
                        <td>Screen Pixels Height</td>
                        <td>@Request.Browser.ScreenPixelsHeight</td>
                    </tr>
                    <tr>
                        <td>Screen Pixels Width</td>
                        <td>@Request.Browser.ScreenPixelsWidth</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>@Request.Browser.Version</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
