@using DetectingDeviceCapabilities.Models
@model Programmer[]

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container w-75">
        <div class="alert alert-success text-center">
            This is the /Views/Home/IndexTrace.cshtml view
        </div>
        <div class="card text-secondary">
            <div class="card-title text-center">Programmer Info</div>
            <table class="table table-striped">
                <thead class="">
                    <tr>
                        <th>FirstName</th>
                        <th class="d-none d-sm-block">LastName</th>
                        <th>Title</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Language</th>
                    </tr>
                </thead>
                @foreach (Programmer programmer in Model) {
                    Context.Trace.Write("Programmers View:",
                        string.Format("Processing: {0} {1}", programmer.FirstName, programmer.LastName));
                    <tbody>
                        <tr>
                            <td>@programmer.FirstName</td>
                            <td class="d-none d-sm-block">@programmer.LastName</td>
                            <td>@programmer.Title</td>
                            <td>@programmer.City</td>
                            <td>@programmer.Country</td>
                            <td>@programmer.Language</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</body>
</html>
