
@model SportsStore.Domain.Merchandise


<div class="card mb-3">
    <div class="p-3 m-2">
        @*<div class="float-end btn btn-secondary btn-lg">@Model.Price.ToString("c") ++</div>*@
        <h2>@Model.Name</h2>
        <input type="button" class="btn btn-secondary btn-lg float-end" value="@Model.Price.ToString("c")" disabled />

        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="float-end">
                @Html.HiddenFor(x => x.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-outline-secondary btn-lg" value="Add To Cart - @Model.Id" />
            </div>
        }
        <span class="pt-3 ">@Model.Description</span>
    </div>
</div>

