@{ 
    string mainAddress = "5500 Sunny Rain Plane, NC 27616";
    string emailAddress = "info@villa-ag.com";
}

<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <ul class="info">
                    <li><i class="fa fa-envelope"></i>@emailAddress</li>
                    <li><i class="fa fa-map"></i>@mainAddress</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://x.com/minthu" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <h1>@Html.ActionLink("Villa", "Contact", "Home", new {@class = "logo" })</h1>
                    <ul class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "active" })</li>
                        <li>@Html.ActionLink("Properties", "Properties", "Home")</li>
                        <li>@Html.ActionLink("property-details", "PropertyDetails", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                    </ul>
                    <a class="menu-trigger"><span>Menu</span></a>
                </nav>
            </div>
        </div>
    </div>
</header>

