@model string
@using Chapter21.HelperMethods.Infrastructure

@{
    Layout = null;
}
<h2>Helper Methods</h2>

<div>A Problem Demostration</div>
<p>This is the content from the view:</p>
<div style="border:thin solid black; padding:10px;">
    Here is the message: <p>@Model</p>
</div>

<div>A Problem Demostration</div>
<p>This is the content from the HELPER METHOD!:</p>
<div style="border:thin solid black; padding:10px;">
    @Html.DisplaySecMessage(Model)
</div>

<div>A Problem Demostration</div>
<p>This is the content from the HELPER METHOD!:</p>
<div style="border:thin solid black; padding:10px;">
    @Html.DisplayNonSecMessage(Model)
</div>

<div>A Problem Demostration</div>
<p>This is the ENCODED content from the HELPER METHOD!:</p>
<div style="border:thin solid black; padding:10px;">
    @Html.DisplayEncMessage(Model)
</div>

Using External helper methods
<div>Here are the plants: @Html.ListArrayItems((string[])ViewBag.Plants)</div>
<div>Here are the cities: @Html.ListArrayItems((string[])ViewBag.Cities)</div>
<div>Here is the message: <p>@Model</p> </div>
<br />
<br />


@helper ListOfArrayItems(string[] items)
{
    <ul>
        @foreach (string str in items)
        {
            <li>@str</li>
        }
    </ul>
}

@helper ListOfArrayButton(string[] bsclasses)
{
    foreach (string bsc in bsclasses)
    {
        <input type="button" value="@bsc" />
    }
}

Using helper methods
<div>Here are the plants: @ListOfArrayItems(ViewBag.Plants)</div>
<div>Here are the cities: @ListOfArrayItems(ViewBag.Cities)</div>
<div>Here is the message: <p>@Model</p> </div>
<br />
<br />
Using regular foreach inline code
<div>
    Here are the fruits:
    @foreach (string plant in (string[])ViewBag.Plants)
    {
        <b>@plant,</b>
    }
</div>
<div>
    Here are the fruits:
    @foreach (string city in (string[])ViewBag.Cities)
    {
        <b>@city,</b>
    }
</div>
<div>
    Here is the message
    <p>@Model</p>
</div>



@{string[] myButtons = { "ButtonOne", "Buttontwo" };}
<div>Here are the cities: @ListOfArrayButton(myButtons)</div>